### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
#file_to_load = "Resources/purchase_data.csv"

# Study data files
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
#Display players
players = len(purchase_data['SN'].unique())
players_df = pd.DataFrame({"Total Number of Players": [len(purchase_data.SN.unique())]})
players_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Counting Number of Unique Items
items = len(purchase_data['Item ID'].unique())

#Calculate Average Price
avg_price= purchase_data['Price'].mean()

#Countint Number of Purchases
purchases= len(purchase_data['Purchase ID'])

#Calculating Total Revenue
total_rev= sum(purchase_data['Price'])

#Summary DF
summary_df = pd.DataFrame({
    'Unique items': items,
    'Average Price': '${:.2f}'.format(avg_price),
    'Total Purchases': purchases,
    'Total Revenue': '${:.2f}'.format(total_rev)
},index=[0])
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Removing Duplicates from data
player_dup = purchase_data.drop_duplicates('SN')

#Total # Gender
tot_gender = player_dup['Gender'].value_counts()

#Total % Gender
tot_percent = (player_dup['Gender'].value_counts()/players)*100

#Creating new gender DF
gender_data_df = pd.DataFrame({
    'Count': tot_gender,
    'Percent of Total Players': tot_percent.map('{:.2f}%'.format)
})
gender_data_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Average Purchase
avg_purchase_data = purchase_data.groupby('Gender')
avg_purchase_count = avg_purchase_data['Gender'].count() 

#Average Price
purchase_mean = gender_purchase_data['Price'].mean()

#Purchases Total Per Person
purchase_rev = gender_purchase_data['Price'].sum() 

#Creating DF
purchase_data_df = pd.DataFrame({
    'Number of Players': tot_gender,
    'Purchase Count': avg_purchase_count,
    'Avg Purchase Price': purchase_mean.map('${:,.2f}'.format),
    'Total Revenue': purchase_rev.map('${:,.2f}'.format),
})
purchase_data_df

,Number of Players,Purchase Count,Avg Purchase Price,Total Revenue
Female,81,113,$3.20,$361.94
Male,484,652,$3.02,"$1,967.64"
Other / Non-Disclosed,11,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
#Establishing/categorizing bins

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 400]

age_ranges = ['Under 10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', 'Over 40']

purchase_data['age_group'] =  pd.cut(purchase_data['Age'], age_bins, labels=age_ranges)

age_group = purchase_data.groupby('age_group').SN.nunique()

#DF
age_df = pd.DataFrame({
    'Total # Players': age_group,
    'Percentage of Total Players': (age_group / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
})
age_df

           Total # Players Percentage of Total Players
age_group
Under 10                17                        2.95
10-14                   22                        3.82
15-19                  107                       18.58
20-24                  258                       44.79
25-29                   77                       13.37
30-34                   52                        9.03
35-39                   31                        5.38
Over 40                 12                        2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#Establishing bin/calculations by age

purchase_ages = purchase_data[['age_group', 'Price']]

total_purchases = purchase_data[['age_group', 'Purchase ID']]


total_age = total_purchases.groupby('age_group').count() 

tot_price_purchases = purchase_ages.groupby('age_group').sum()

#Purchasing DF
purchasing_df = pd.DataFrame({
    'Purchase Count': total_age['Purchase ID'],
    'Average Purchase Price': (total_purchase_values_age['Price'] / total_age['Purchase ID']).map("${:.2f}".format),
    'Average Purchase Total per Person': tot_price_purchases['Price'].map("${:.2f}".format)
})
purchasing_df

,Purchase Count,Average Purchase Price,Average Purchase Total per Person
age_group,,,
Under 10,23,$3.35,$77.13
10-14,28,$2.96,$82.78
15-19,136,$3.04,$412.89
20-24,365,$3.05,$1114.06
25-29,101,$2.90,$293.00
30-34,73,$2.93,$214.00
35-39,41,$3.60,$147.67
Over 40,13,$2.94,$38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
#Count Purchases
count_purchases = purchase_data["SN"].value_counts()

#Calculating Avg Purchase Price
avg_purchases = purchase_data["Price"].groupby(purchase_data["SN"]).mean()

#Calculate the total revenue from each unique SN
tot_rev = purchase_data["Price"].groupby(purchase_data["SN"]).sum()

In [44]:
#Top Spender DF
top_spender_df = pd.DataFrame({
    "Purchase Count":count_purchases,
    "Average Purchase Price":avg_purchases,
    "Total Purchase Value":tot_rev
})

top_spenders_df = top_spender_df.sort_values("Total Purchase Value", ascending= False)
top_spenders["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)
top_spenders[:5]

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
#Retrieve/Group Item ID, Item Name, and Item Price Columns
pop_items = purchase_data[['Item ID', 'Item Name', 'Price']]

count_pop_items = pop_items.groupby(["Item ID","Item Name"])["Price"].count()

avg_price_pop_items= pop_items.groupby(["Item ID","Item Name"])["Price"].mean()

tot_pop_items = pop_items.groupby(["Item ID","Item Name"])["Price"].sum()

#Popular Items DF
pop_item_df = pd.DataFrame({
    "Purchase Count":count_pop_items,
    "Average Item Price":avg_price_pop_items,
    "Total Purchase Value":tot_pop_items
})

pop_items_df = pop_item_df.sort_values("Purchase Count", ascending= False)
pop_items_df["Average Item Price"]= pop_items_df["Average Item Price"].map("${:.2f}".format)
pop_items_df["Total Purchase Value"]= pop_items_df["Total Purchase Value"].map("${:.2f}".format)
pop_items_df[:5]

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [65]:
#Sort table in Descending Order
most_prof = pop_items_df.sort_values("Total Purchase Value", ascending= False)
most_prof["Average Item Price"]= most_prof["Average Item Price"].map("${:.2}".format)
most_prof["Total Purchase Value"]= most_prof["Total Purchase Value"].map("${:.2}".format)
most_prof[:5]

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$$4,$$9
29,"Chaos, Ender of the End",5,$$1,$$9
173,Stormfury Longsword,2,$$4,$$9
38,"The Void, Vengeance of Dark Magic",4,$$2,$$9
143,Frenzied Scimitar,6,$$1,$$9